@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models;
@using System.Collections.Generic;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer does not have any assigned machines</p>
}
else
{
  <h4>This engineer has the following assigned machines:</h4>
  <ul>
    @foreach(MachineEngineer join in Model.JoinEntities)
    {
      <li>Machine: @join.Machine.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.Hidden("joinId", @join.MachineEngineerId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to engineers", "Index")</p>
<p>@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add a machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>